@{
    ViewData["Title"] = "Início";
}

<div class="container mt-5">
    <h1 class="mb-4 text-center">Desenvolvimento Web com .NET e Base de Dados</h1>

    <div class="row mb-5">
        <div class="text-center">
            <img src="https://ltecnologia.com.br/blog/wp-content/webp-express/webp-images/uploads/2015/02/helloworld.png.webp" class="img-fluid rounded" alt="Imagem representativa de programação">
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-2" style="border: none">
                <div class="card-body">
                    <h2 class="card-title text-center">Aspectos Positivos</h2>
                    <p class="card-text text-center">
                        O suporte dado pelo professor no que diz respeito às configurações do ambiente de trabalho foram ótimas, pois muita gente não tem costume com a ferramenta do Visual Studio e todas as possibilidades dela. Outro ponto que admiro, se refere à didática nas aulas, extremamente bem ministradas.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-2" style="border: none">
                <div class="card-body">
                    <h2 class="card-title text-center">Aspectos Negativos</h2>
                    <p class="card-text text-center">
                        Mesmo pensando bem, não consigo encontrar pontos negativos, como falei anteriormente, as aulas foram bem ministradas, tanto que não tive barreiras para o aprendizado, mesmo não conseguindo acompanhar aulas ao vivo, por ocasião do meu trabalho.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-2" style="border: none">
                <div class="card-body">
                    <h2 class="card-title text-center">Sugestões de Melhoria</h2>
                    <p class="card-text text-center">
                        Sem sugestões
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>